{% extends "base.html" %}

{% block hero-section %}
<h2>Усі товари</h2>
<div class="container t100">
    <div class="row  products-line">
        {% for product in products %}
        <div class="products-item">
            <div class="card card-item">
                {% if product.image_url %}
                <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    {% if product.description %}
                    <p class="card-text">{{ product.description }}</p>
                    {% endif %}
                    {% if product.additionalInfo %}
                    <p class="card-text">{{ product.additionalInfo }}</p>
                    {% endif %}
                    <p class="card-text">{{ product.measure_unit }} {{ product.weight }} грам</p>
                    <p class="card-text">{{ product.price }} грн</p>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Товарів поки немає.</p>
        {% endfor %}
    </div>
</div>

{% endblock hero-section %}
