{% extends "base.html" %}

{% block hero-section %}
<h2>Усі товари</h2>
<div class="container t100">
    <div class="row  products-line">
        {% for product in products %}
        <div class="products-item">
            <div class="card card-item">
                {% if product.image_url %}
                <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text"> Енергетична цінність на 100 г:</p>
                    <p class="card-text"> - Калорії: 236</p>
                    <p class="card-text"> - Білки: 7 г</p>
                    <p class="card-text"> - Жири: 17 г</p>
                    <p class="card-text"> - Вуглеводи: 10 г</p>
                    <p class="card-text"> - Хлібні одиниці: 0,83</p>
                    <p class="card-text">{{ product.measure_unit }} {{ product.weight }}0 грам</p>
                    <p class="card-text">{{ product.price }} грн</p>
                    <a href="{% url 'goods:product_detail_no_group' product_slug=product.slug %}">Деталі</a>
                        Деталі продукту
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Товарів поки немає.</p>
        {% endfor %}
    </div>
</div>

{% endblock hero-section %}
