{% extends "base.html" %}

{% block hero-section %}
<h1>{{ group.name }}</h1>

{% if products %}
  <ul>
    {% for product in products %}
      <div class="col-md-3">
            <div class="card">
                {% if product.image_url %}
                    <img src="{{ product.image_url }}" alt="{{ product.name }}">
                {% endif %}
                <div class="card-body">
                    <h5>{{ product.name }}</h5>
                    <p>{{ product.description }}</p>
                    <p>{{ product.additionalInfo }}</p>
                    <p>{{ product.measure_unit }} {{ product.weight}}0</p>
                    <p>{{ product.price }} грн</p>
                </div>
            </div>
        </div>
    {% endfor %}
  </ul>
{% endif %}

{% if modifiers %}
  <h2>Модифікатори</h2>
  <ul>
    {% for modifier in modifiers %}
      <li>{{ modifier.name }} (+{{ modifier.price }} грн)</li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock hero-section %}
