
{% extends "base.html" %}
{% load i18n %} 
{% load static %}

  {% block title_meta %}
  <title>{% trans "Зеро калорій — Головна" %}</title>
  {% endblock title_meta %}
  {% block hero-section %}
  <main class="container page-wrapper">

<section class="hero">
  <h1 style="display: none;">{% trans "Зеро калорій" %}</h1>
<img src="{% static './img/Зеро1.png' %}" alt="logo">

  <p>{% trans "Солодко без докорів сумління – насолоджуйся, не рахуючи калорій!" %}</p>
  <div class="hero-actions">
    <a class="btn" href="{% url 'goods:all_products' %}">{% trans "Переглянути меню" %}</a>
    <a class="btn" href="about.html">{% trans "Про нас" %}</a>
  </div>
</section>
<section style="margin-top:18px;" class="card">
  <h3>{% trans "Наші фішки" %}</h3>
<ul class="features">
  <li>🍰 {% trans "Солодощі, від яких паморочиться голова, але вага не росте" %}</li>
  <li>🧪 {% trans "Перевірені рецепти з нутріціологічним підходом" %}</li>
  <li>😄 {% trans "Дружній колектив та до 20 експертів у команді" %}</li>
  <li>🎨 {% trans "Яскравий, веселий бренд та дизайн продуктів" %}</li>
  <li>💌 {% trans "Акції, подарунки та приємні сюрпризи для клієнтів" %}</li>
  <li>🥗 {% trans "Дієтичні інгредієнти для здоров’я та фігури" %}</li>
  <li>📸 {% trans "Фото та відео наших десертів та подій" %}</li>
</ul>
</section>
  {% endblock hero-section %}
